venv
__pycache__
*.json
*Llama-encoder-1.0B
*yelp_review_full
*finetune
*.pth
*.pt
*.zip
*DeepSeek-R1-Distill-Llama-8B
*DeepSeek-R1-Distill-Qwen-1.5B
*gpt2
finetune_results
political_news_rss.json
political_scraped_news.json
business_news_rss.json
business_scraped_news.json
culture_news_rss.json
culture_scraped_news.json
science_news_rss.json
science_scraped_news.json

